.input_i_num{
    width: 70px;
} 

.form_i{
    padding: 5px;
}

.div_box{
    display: flex;
    flex-direction: column;
}

#li-items-prev{
    height: 200px;
    overflow-y: auto;
}

#floatingTextarea2{
    background-color: #303030;
}

#divRender{
    height: 500px;
}